@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main img{
    height: 520px;
    position: relative;
    z-index: 99;
    object-fit: cover;
}

.scroll-div{
    position: absolute;
    top: 20%;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE/Edge (old versions) */
    -ms-overflow-style: none;
}

.scroll-div::-webkit-scrollbar{
    display: none;
}

.scroll-div h1{
    display: inline-block;
    font-size: 130px;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 4px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.scroll-div2{
    position: absolute;
    top: 40%;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 100;

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE/Edge (old versions) */
    -ms-overflow-style: none;
}

.scroll-div2::-webkit-scrollbar{
    display: none;
}

.scroll-div2 h1{
    display: inline-block;
    font-size: 130px;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 4px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: transparent;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.scroll-div3{
    position: absolute;
    top: 60%;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE/Edge (old versions) */
    -ms-overflow-style: none;
}

.scroll-div3::-webkit-scrollbar{
    display: none;
}

.scroll-div3 h1{
    display: inline-block;
    font-size: 130px;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 4px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

#text{
    font-size: 30px;
    position: absolute;
    top: 9%;
    font-family: "Fjalla One", sans-serif;
    width: 60%;
    z-index: 104;
    text-align: center;
    text-transform: uppercase;
}

@keyframes scroll {
    0%{
        transform: translateX(calc(-100% - 35px));
    }
    
    100%{
        transform: translateX(0);
    }
}