* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: rgb(157, 50, 245);
}

.user-card{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    color: white;
    font-size: 2rem;

}
button{
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}