* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.allProducts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #333;
}

.product{
  display: block;
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

.product img{
  height: 150px;
}

.product h2{
  font-size: 20px;
  margin-top: 40px;
}

.home{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home h1{
    font-size:100px;
    margin-bottom: 20px;
    font-weight: 400;
}
.cta{
    padding: 20px 45px;
    background-color: lightseagreen;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 600;
}