* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
  color: whitesmoke;
  font-family: "Google Sans";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-weight: 800;
  font-size: 175px;
  mix-blend-mode: difference;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
}
