.box {
  width: 52px;
  height: 52px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box p{
    font-weight: 600;
    font-size: 20px;
}

.box_onclick {
  width: 52px;
  height: 52px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
