* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #111;
    color: whitesmoke;
    font-size: 35px;
    padding: 20px;
  }
  
  button{
  font-size: 25px;
  padding: 8px 10px;
}

.bottom{
  display: flex;
  gap: 30px;
}

.changeuser{
  margin-top: 30px;
}

.gender{
  margin-top: 25px;
}

.male{
  color: none;
}
.female{
  color: none;
}