* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
    background-color: pink;
    margin-bottom: 10px;
    padding-inline: 50px;
}

.nav-con{
    display: flex;
    gap: 80px;
}

h2{
    font-size: 50px;
    color: black;
}

a{
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.notfound{
    color: red;
}