* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
  font-family: Roboto, "Courier New", Courier, monospace;
}

main {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(30, 30, 30),
    black
  );
  padding: 20px;
}

section {
  height: 100%;
  width: 350px;
  margin: auto;
  border-radius: 12px;
}

.allReels {
  height: 100%;
  width: 100%;
  overflow: auto;
  /* Snap Scrolling */
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.reel {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
  /* Snap Scrolling */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.623));
  width: 100%;
  height: 24%;
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.bottom .user img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom .user h4 {
  font-size: 16px;
  font-weight: 500;
}

.bottom .user button {
  background-color: white;
  padding: 2px 9px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  border: 2px solid white;
  color: black;
}

.bottom > h3 {
  font-weight: 500;
  font-size: 17px;
}

.right {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 12.75%;
}

.right i {
  font-size: 25px;
  font-weight: 500;
}

.right h4 {
  cursor: pointer;
}

.right h6 {
  font-size: 15px;
  font-weight: 500;
}

.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.isLiked{
    color: red;
}