* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #333;
}

form{
  width: 100vw;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.564);
}

input{
  width: 20vw;
  height: 6vh;
  margin-right: 3vw;
  margin: 10vh;
}

button{
  padding: 8px 10px;
}
