* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #000;
}

.container{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

h1{
    font-family: "Geo", sans-serif;
    font-size: 55px;
    font-weight: 400;
    color: #02FF06;
}

h3{
    font-family: "Tektur", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #02FF06;
    font-weight: 100;
}

#color{
    background: linear-gradient(90deg, #ff00cc, #3333ff);
    -webkit-background-clip: text;
    color: transparent;
}

#inner{
    padding: 7px;
    background-color: #02ff061c;
}