* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

:root{
    --x : 400px;
    --y : 400px;
}

/* body{
    background-image: url(https://images.unsplash.com/photo-1765202665764-ca839162fe4a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
} */

.box{
    width: 100%;
    height: 100%;
    background: radial-gradient(250px at var(--x) var(--y), transparent , black 100%);

    position: absolute;
    z-index: 50;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}