* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #3a3a3a, #1c1c1c);
    color: #fff;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 10px 20px;
    margin-top: 30px;
    border: 0px;
    border-radius: 50px;
    font-size: 15px;
}

#box{
    height: 400px;
    width: 400px;
    background-color: purple;
}