* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #0A0A0A;
    color: whitesmoke;
    font-family: 'Helvetica Now Display';
    overflow: hidden;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 50px;
    padding: 50px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline;
}

i{
    font-size: 18px;
}

img{
    width: 35px;
}

.hero{
    width: 100vw;
    height: 100vh;
}

.right{
    width: 590px;
    position: absolute;
    right: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 150px;
    position: absolute;
    left: 150px;
    top: 150px;
}

.up{
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 50px;
}

.middle{
    position: relative;
    bottom: 90px;
}

.upcol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

a{
    position: relative;
    bottom: 180px;
}

h2{
    font-size: 40px;
    font-weight: 100;
}

h1{
    font-size: 180px;
    font-weight: 300;
}