* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
}

h1{
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}

h2{
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  top: 65vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}

.nav{
  display: flex;
  gap: 20px;
  padding: 20px;
}

a{
  color: antiquewhite;
  font-size: 25px;
  text-decoration: none;
}

.sale{
  background-color: rgb(104, 5, 5);
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.sale p{
  flex-shrink: 0;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(42, 42, 42);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer button{
    padding:10px 20px;
    border: none;
    font-size: 10px;
    background-color: lightseagreen;
}